@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

a {
  text-decoration: none;
  color: black;
}
a:hover * {
  color: #ae83f4;
}

.purpBackground {
  background-color: #ae83f4;
}

.darkPurpleBackground {
  background-color: #451c86;
}

.icon {
  color: #ae83f4;
}

* {
  font-family: "Poppins";
  letter-spacing: 1.5px;
}

.post {
  background-color: #ae83f4;
}

.small {
  font-size: 10px;
}
#metric {
  font-size: 12px;
}

li {
  list-style: none;
}

@media only screen and (max-width: 1200px) {
  #hide * {
    display: none;
  }
}

.edit:hover {
  background-color: grey;
}
.delete:hover {
  background-color: red;
}

.list > li {
  padding: 0;
  font-size: 12px;
}
.theme-dark {
  --dark-text: #292929;
  --light-text: #F9F8F8;  
  --dark-background: #2F4550;
  --light-background: #586F7C;
  --accent: #B8DBD9;
  --button-border: #B8DBD9;
}
.theme-light {
  --dark-text: #5E4B56;
  --light-text: #5E4B56;
  --dark-background: #DBE7E4;
  --light-background: #EDDCD2;
  --accent: #DBE7E4;
  --button-border: #5E4B56;
}
html, #root {
  background-color: var(--dark-background);
  color: var(--dark-text);
}

nav {
  background-color: var(--dark-background);
  color: var(--light-text);
}

.main-container {
  background-color: var(--light-background);
}
.dark {
  background: black;
}
.dark h1 {
  color: white;
}