a {
  text-decoration: none;
  color: black;
}
a:hover * {
  color: #ae83f4;
}

.icon {
  color: #ae83f4;
}

* {
  font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif;
  letter-spacing: 1.5px;
}

.post {
  background-color: #ae83f4;
}

.small {
  font-size: 10px;
}
#metric {
  font-size: 12px;
}

li {
  list-style: none;
}

@media only screen and (max-width: 1200px) {
  #hide * {
    display: none;
  }
}

.edit:hover {
  background-color: grey;
}
.delete:hover {
  background-color: red;
}

.list > li {
  padding:0;
  font-size: 12px;
}
