/* *,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
} */

.countryForm {
  height: 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
