@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

/* *{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  } */

/* body {
    background: url('https://wallpapercave.com/wp/wp5910934.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
} */

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: #9966CC;
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.add-experience:hover {
    background: #9966CC;
    color: #fff;
    cursor: pointer;
    border: solid 1px #9966CC;
}

.text-right{
    color: #9966CC;
    font-size: 45px;
}

.labels{
    font-size: 12.5px;
}

#wrapper{
    width: 450px;
    background: #fff;
    padding: 5px;
}