.profilecard body
{
  font-family: 'Hind Guntur', sans-serif;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat, no-repeat;
  background-position: 200% -40%;
  background-size: 80%;
}

.profilecard  .card
{
  width: 40vw;
  height: 70vh;
  padding: 15px;
  margin-top: 100px;
  margin-bottom: 40px;
  margin-left: 80px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  box-shadow: 15px 10px 25px 0px  #9966cc;
  background: whitesmoke;
  background-image: url('https://images.unsplash.com/photo-1523380360198-653413ad178b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE0fHx8ZW58MHx8fHw%3D&w=1000&q=80');
  background-position: fixed;
  background-size: cover;
  animation: open .5s;
}

.profilecard  form
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profilecard  .field
{
  margin: 5px;
  display: block;
  align-items: center;
  flex-direction: column;
}

.profilecard input[type="file"]
{
  display: none;
}

.card h1
{
  color: #b19cd9;
  font-weight: bold;
  margin-bottom: 10px;
}

.card .email
{
  color: white;
}

.card .language
{
  color: white;
}

.card .country
{
  color: white;
}

.card .bio
{
  color: white;
}

.profilecard  .custom-file-upload
{
  border-radius: 50%;
  display: inline-block;
  position: relative;
  padding: 6px;
  cursor: pointer;
  background: linear-gradient(270deg, blueviolet, blueviolet);
  margin-bottom: 25px;
}

.profilecard  .img-wrap
{
  position: relative;
  width: 140px;
  height: 140px;
  overflow: hidden;
  border-radius: 50%;
}

.profilecard  .img-upload:before
{
  content: "\f093";
  font-size: 90px;
  position: absolute;
  padding-top: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: blueviolet;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  opacity: 0;
  transition: .5s ease;
  background-color: #fff;
}

.profilecard  .img-upload:hover:before
{
  opacity: 1;
}

.profilecard  img
{
  width: auto;
  height: 100%;
}

.profilecard  label
{
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  color: white;
}

.profilecard  input
{
  border-radius: 15px;
  border: 1px solid #FFF;
  padding: 5px 5px 5px 10px;
  font-size: 14px;
  transition: 0.2s;
  margin-left: 10px;
}

.profilecard  input:focus
{
  outline: none;
  border: 3px solid #FFF;
}

.profilecard  input::placeholder
{
  color: #B7B7B7;
}

.profilecard  .name
{
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: #FFF;
  max-width: 220px;
  overflow-wrap: break-word;
}

.profilecard  .status
{
  text-align: center;
  max-width: 220px;
  overflow-wrap: break-word;
}

.profilecard  button
{
  position: relative;
  letter-spacing: 1px;
  margin: 20px;
  font-size: 18px;
  padding: 10px;
  text-align: center;
  transition: 0.5s;
  border-radius: 10px;
  cursor: pointer;
  border-radius: 25px;
  border: none;
  background: #8A2BE2;
}

.profilecard .save
{
  background-color: #8A2BE2;
  color: white;
  padding: 7px;
  width: 100px;
  letter-spacing: 1px;
  font-family: "Rockwell";
  animation: savebounce 4s infinite;
  cursor: pointer;
}

.profilecard  .edit
{
  color: #fff;
  width: 180px;
}

.profilecard  button:hover
{
  left: 0;
  color: #fff;
  width: 180px;
  box-shadow: 0px 0px 20px 0px  #8A2BE2;
}

.profilecard  button:focus
{
  outline: none;
}

.field label,input{
  display:flex;
  flex-direction:column;
}

.field #first{
  margin-right: 300px;
  height: 15px;
}

.field #last{
  margin-left: 350px;
  height: 20px;
}

/* .field #bio {
  margin-top: 30px;
  margin-bottom: 5px;
} */

/* .field #emailField{
  margin-right: 300px;
} */

/* .card label#last{
  vertical-align: top;
  margin-left: 300px;
}

.card label#lang{
  margin-left: 290px;
}

.card label#bio{
  margin-left: 230px;
}

.card input#fname
{
  width: 110px;
  margin-right: 200px;
}

.card input#lname
{
  width: 110px;
}

.card input#email
{
  width: 110px;
  margin-right: 150px;
}

.card input#language
{
  width: 110px;
}

.card input#country
{
  width: 170px;
  margin-right: 250px;
}

.card input#Bio
{
  width: 150px;
}

.field #firstField{
  display: block;
  height: 50vh;
} */

/* .field #emailField{
  height: 10px;
} */

/* .field #langField{
  margin-bottom: 100px;
} */

/* .field #lastField{
  height: 10px;
} */

/* .field #bioField{
  height: 50vh;
} */

@keyframes savebounce
{
  5%,
  50%
  {
    transform: scale(1);
  }

  10%
  {
    transform: scale(1);
  }

  15%
  {
    transform: scale(1);
  }

  20%
  {
    transform: scale(1) rotate(-5deg);
  }

  25%
  {
    transform: scale(1) rotate(5deg);
  }

  30%
  {
    transform: scale(1) rotate(-3deg);
  }

  35%
  {
    transform: scale(1) rotate(2deg);
  }

  40%
  {
    transform: scale(1) rotate(0);
  }
}
